
@mixin mobile-landscape {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
  
 
 @mixin tablet {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
  

 @mixin small-desktop {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
  
 @mixin desktop {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
  
 // Custom devices
 @mixin rwd($screen) {
    @media (min-width: $screen+'px' ) {
       @content;
    }
 }