@font-face {
    font-family: "AkzidenzGroteskBE";
    src: url("../assets/fonts/AkzidenzGroteskBE-Regular.woff2") format("woff2");
   }
   @font-face {
    font-family: "Gotham Book";
    src: url("../assets/fonts/Gotham-Book.woff2") format("woff2");
    font-weight: 400;
   }
   @font-face {
    font-family: "Gotham Book";
    src: url("../assets/fonts/Gotham-Bold.woff2") format("woff2");
    font-weight: 700;
   }