/*.et_menu_container {
  & .logo_container {

    
    @include tablet {
      max-width: 150px;
    }
  }
}*/

/***  Surcharge de Divi ***/

.et_header_style_left {
  & .logo_container {
    height: auto;
    position: relative;
    width: auto;
  }
}
.et_header_style_left #et-top-navigation,
.et_header_style_split #et-top-navigation {
  margin-left: 40px;
  padding-top: 66px;
}
.et_header_style_left #et-top-navigation nav > ul > li > a,
.et_header_style_split #et-top-navigation nav > ul > li > a {
  font-weight: 400;
  padding-bottom: 26px;
  text-transform: uppercase;
}

#et-secondary-nav .menu-item-has-children > a:first-child:after,
#top-menu .menu-item-has-children > a:first-child:after {
  display: none;
}

#main-header {
  display: flex;
  padding: 20px 0;

  & .container {
    display: flex;
  }

  & .after-header {
    @include tablet {
      background: url("../assets/img/f-header-right.gif");
      height: 105px;
      margin-left: 5px;
      width: 40px;
    }
  }
  & .before-header {
    @include tablet {
      background: url("../assets/img/f-header-left.gif");
      height: 105px;
      width: 40px;
    }
  }

  & .et_header_style_left .logo_container {
    height: auto;
    position: relative;
    width: auto;
  }

  & .left-header {
    align-items: center;
    display: flex;
  }

  & .home-link {
    display: block;
  }
}

#logo-relife {
  max-height: 100%;
  @include tablet {
    width: 150px;
  }
}
#top-menu {
  & .menu-item-has-children {
    padding-right: 0;
  }
}

#et_mobile_nav_menu {
  display: none;
  @include tablet {
    display: none;
  }
}

#top-menu {
  display: none;
  @include tablet {
    display: block;
  }
}
